#header a.logo, #navigation > li {
	line-height: 60px;
}


.one_fourth{
	h3{
		text-align: center;
	}
	.title_icon{
		top: 0;
		margin-right: 0;
		margin-bottom: 10px;
	}
	.title_content{
		display: block;
	}
} 